h1 {
  font-family: 'K2D', sans-serif;
  margin: auto;
  width: 40%;
}



h2 {
  font-family: 'K2D', sans-serif;
  margin: auto;
  font-size: 35px;
  width: 100%;
}

#clock-container {
  padding: 10px;
  box-sizing: border-box;
  width: 580px;
  height: 120px;
  background-color: orange;
  margin: auto;
  border: 2px solid black;
  color: white;
}

#clock-container > div {

}

#time {
  display: flex;
  justify-content: space-between;
}

#date {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

#tabs {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  width: 200px;
}

#tabs li {
  display: inline-block;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 5px;
}

#tabs > li > h1 {
  font-size: 20px;
  width: 64px;
  text-align: center;
}

article {
  width: 200px;
  background-color: lightblue;
  height: 200px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
